<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>
<body class="container d-flex flex-column">
  <%- include('../partials/header', {pagina: 'sobre'}); %>
  <main>
    <div class="jumbotron main-bg rounded border">
      <h1>Sobre mim</h1>
      <p>Olá, me chamo Gabriel B. Possomato</p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>